<header class="ticket-app-header ticket-app-show bg-black">
    <div class="d-flex align-items-center h-100 px-3 text-small">
        <a class="d-inline-block text-white" href="{{ environment.APP_SITE_URL }}/#/purchase">
            閉じる
        </a>
    </div>
</header>
<header
    class="header bg-white border-bottom border-light-gray rounded-top px-3 py-2 px-md-5 py-md-4 clearfix ticket-app-hide">
    <div class="position-relative">
        <div class="logo">
            <a href="{{ environment.PORTAL_SITE_URL }}">
                <img src="/assets/images/common/logo.svg" alt="">
            </a>
        </div>
        <ng-content></ng-content>
    </div>
</header>