$tablet: 1024px;
$mobile: 767px;
.header {
    .logo {
        width: 70px;
        @media screen and (max-width: 767px){
            width: 60px;
        }
        img {
            width: 100%;
        }
    }
}
