.header {
    .logo {
        width: 70px;
        @media screen and (max-width: 767px){
            width: 60px;
        }
        img {
            width: 100%;
        }
    }
}

.ticket-app-header {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
}