<div class="contents bg-white p-3 pb-5 pt-md-4 px-md-5">
    <h1 class="text-center text-large font-weight-bold mb-3">ムビチケ券認証</h1>
    <p class="text-left text-md-center mb-3">
        ご利用になるムビチケ券の購入番号と、暗証番号を入力してください。
        <br>複数枚ご利用になる場合は「ムビチケ券を追加」ボタンを押して追加してください。
    </p>

    <div *ngFor="let mvtkForm of forms; let index = index" class="ticket-list mb-3">
        <form [formGroup]="mvtkForm">
            <div class="position-relative">
                <div *ngIf="forms.length > 1" class="text-right">
                    <a class="btn bg-dark-gray text-white text-small py-0 px-4 mb-2" href="javascript:void(0)"
                        (click)="removeTicket(index)">削除</a>
                </div>
                <ul class="p-3 rounded bg-light-gray mb-2 form-layout">
                    <li class="container px-0 border-bottom border-dot border-gray pb-3 mb-3">
                        <dl class="row align-items-center">
                            <dt class="col-12 col-md-4 font-weight-bold mb-2 mb-md-0">ムビチケ購入番号</dt>
                            <dd class="col-12 col-md-8">
                                <input class="mvtk-code form-control"
                                    [class.validation]="mvtkForm.controls.code.invalid && mvtkForm.controls.code.touched"
                                    type="text" formControlName="code" autocomplete="off" placeholder="(例)012345789"
                                    maxlength="10">
                                <div *ngIf="mvtkForm.controls.code.invalid && mvtkForm.controls.code.touched">
                                    <p *ngIf="mvtkForm.controls.code.errors?.required" class="text-danger">
                                        ムビチケ購入番号が未入力です
                                    </p>
                                    <p *ngIf="mvtkForm.controls.code.errors?.maxlength" class="text-danger">
                                        ムビチケ購入番号は{{ mvtkForm.controls.code.errors?.maxlength.requiredLength }}文字で入力してください
                                    </p>
                                    <p *ngIf="mvtkForm.controls.code.errors?.minlength" class="text-danger">
                                        ムビチケ購入番号は{{ mvtkForm.controls.code.errors?.minlength.requiredLength }}文字で入力してください
                                    </p>
                                    <p *ngIf="mvtkForm.controls.code.errors?.pattern" class="text-danger">
                                        ムビチケ購入番号は数字で入力してください
                                    </p>
                                </div>
                            </dd>
                        </dl>
                    </li>
                    <li class="container px-0">
                        <dl class="row align-items-center">
                            <dt class="col-12 col-md-4 font-weight-bold mb-2 mb-md-0">ムビチケ暗証番号</dt>
                            <dd class="col-12 col-md-8">
                                <input class="form-control"
                                    [class.validation]="mvtkForm.controls.password.invalid && mvtkForm.controls.password.touched"
                                    type="password" formControlName="password" autocomplete="off" placeholder="(例)0123"
                                    maxlength="4">
                                <div *ngIf="mvtkForm.controls.password.invalid && mvtkForm.controls.password.touched">
                                    <p *ngIf="mvtkForm.controls.password.errors?.required" class="text-danger">
                                        ムビチケ暗証番号が未入力です
                                    </p>
                                    <p *ngIf="mvtkForm.controls.password.errors?.maxlength" class="text-danger">
                                        ムビチケ暗証番号は{{ mvtkForm.controls.password.errors?.maxlength.requiredLength }}文字で入力してください
                                    </p>
                                    <p *ngIf="mvtkForm.controls.password.errors?.minlength" class="text-danger">
                                        ムビチケ暗証番号は{{ mvtkForm.controls.password.errors?.minlength.requiredLength }}文字で入力してください
                                    </p>
                                    <p *ngIf="mvtkForm.controls.password.errors?.pattern" class="text-danger">
                                        ムビチケ暗証番号は数字で入力してください
                                    </p>
                                </div>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </form>
    </div>

    <div *ngIf="purchase.data.tmpSeatReservationAuthorization?.object.acceptedOffer.length > forms.length"
        class="buttons mx-auto mb-3">
        <a class="icon-add-white btn btn-block btn-success text-white py-3" href="javascript:void(0)"
            (click)="addTicket()">ムビチケ券を追加
        </a>
    </div>

    <div class="rounded bg-light-gray mb-2 overflow-hidden">
        <div class="px-3 py-2 bg-gray text-white">選択中の座席</div>
        <div class="p-3">
            <p class="text-right text-large font-weight-bold">
                {{ purchase.data.tmpSeatReservationAuthorization?.object.acceptedOffer.length }}席</p>
        </div>
    </div>

    <p class="text-small mb-4">※不足金額が発生した場合は別途クレジットカードにてお支払いいただきます。</p>

    <form (ngSubmit)="onSubmit()">
        <app-buttons [disabled]="isLoading" nextLabel="認証する" prevLabel="戻る" prevLink="/purchase/ticket"></app-buttons>
    </form>
    <app-site-seal></app-site-seal>
</div>

<app-modal [open]="inputValidationModal" [layout]="true" (close)="inputValidationModal = false">
    <p class="modal-title text-large text-center mb-3 font-weight-bold">
        入力項目にエラーがあります
    </p>
    <p class="text-left text-md-center">入力項目をご確認ください。</p>
</app-modal>

<app-modal [open]="authErrorModal" [layout]="true" (close)="authErrorModal = false">
    <p class="modal-title text-large text-center mb-3 font-weight-bold">
        認証に失敗しました
    </p>
    <p class="text-left text-md-center">購入番号と暗証番号、もしくはムビチケ券の対象作品を再度ご確認ください。</p>
</app-modal>

<app-loading [show]="isLoading"></app-loading>