

.bookmark {
    img {
        max-width: 360px;
    }
}
.icon-ticket-black:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 1rem;
    background-image: url(/images/common/icon/icon_ticket_black.svg);
    background-size: 25px 15px;
    width: 25px;
    height: 15px;
    margin-top: -7.5px;
}

.ticket {
    .inner {
        border-width: 2px !important;
    }
    .ticket-number {
        top: 20px;
        right: 20px;
        @media screen and (max-width: 767px){
            right: 10px;
        }
    }
    .not-qr-code {
        padding: 40px;
        background-image: url(/images/common/bg_ticket.svg);
        background-size: 100px 60px;
        background-repeat: no-repeat;
        background-position: center;
    }
    &:last-child {
        .inner {
            margin-bottom: 0;
        }
    }
}