<div class="contents bg-white p-3 pb-5 pt-md-4 px-md-5">
    <h1 class="text-center text-large font-weight-bold mb-3">購入者情報入力</h1>
    <p class="text-left text-md-center mb-3">必須項目を入力し「次へ」ボタンを押してください。</p>

    <form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
        <h2 class="mb-2 font-weight-bold">お名前（カタカナ）
            <span class="bg-danger p-1 align-middle text-white text-small">入力必須</span>
        </h2>
        <div class="container p-3 rounded bg-light-gray mb-4">
            <div class="row">
                <dl class="form-group col-12 col-md-6 mb-md-0">
                    <dt class="mb-2"><label>セイ</label></dt>
                    <dd>
                        <input class="form-control"
                            [class.validation]="inputForm.controls.familyName.invalid && inputForm.controls.familyName.touched"
                            type="text" formControlName="familyName" autocomplete="family-name" placeholder="(例)シネマ">
                        <div *ngIf="inputForm.controls.familyName.invalid && inputForm.controls.familyName.touched">
                            <p *ngIf="inputForm.controls.familyName.errors?.required" class="text-danger">
                                セイが未入力です</p>
                            <p *ngIf="inputForm.controls.familyName.errors?.maxlength" class="text-danger">
                                セイは{{ inputForm.controls.familyName.errors?.maxlength.requiredLength }}文字以下で入力してください
                            </p>
                            <p *ngIf="inputForm.controls.familyName.errors?.pattern" class="text-danger">
                                セイは全角カタカナで入力してください
                            </p>
                        </div>
                    </dd>
                </dl>
                <dl class="form-group col-12 col-md-6 mb-0">
                    <dt class="mb-2">メイ</dt>
                    <dd>
                        <input class="form-control"
                            [class.validation]="inputForm.controls.givenName.invalid && inputForm.controls.givenName.touched"
                            type="text" formControlName="givenName" autocomplete="given-name" placeholder="(例)タロウ">
                        <div *ngIf="inputForm.controls.givenName.invalid && inputForm.controls.givenName.touched">
                            <p *ngIf="inputForm.controls.givenName.errors?.required" class="text-danger">
                                メイが未入力です
                            </p>
                            <p *ngIf="inputForm.controls.givenName.errors?.maxlength" class="text-danger">
                                メイは{{ inputForm.controls.givenName.errors?.maxlength.requiredLength }}文字以下で入力してください
                            </p>
                            <p *ngIf="inputForm.controls.givenName.errors?.pattern" class="text-danger">
                                メイは全角カタカナで入力してください
                            </p>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
        <h2 class="mb-2 font-weight-bold">メールアドレス
            <span class="bg-danger p-1 align-middle text-white text-small">入力必須</span>
        </h2>
        <div class="p-3 rounded bg-light-gray mb-4">
            <dl class="form-group">
                <dd>
                    <input class="form-control"
                        [class.validation]="inputForm.controls.email.invalid && inputForm.controls.email.touched"
                        type="email" formControlName="email" autocomplete="email"
                        placeholder="(例)cinema@cinemasunshine.co.jp">
                    <div *ngIf="inputForm.controls.email.invalid && inputForm.controls.email.touched">
                        <p *ngIf="inputForm.controls.email.errors?.required" class="text-danger">
                            メールアドレスが未入力です
                        </p>
                        <p *ngIf="inputForm.controls.email.errors?.maxlength" class="text-danger">
                            メールアドレスは{{ inputForm.controls.email.errors?.maxlength.requiredLength }}文字以下で入力してください
                        </p>
                        <p *ngIf="inputForm.controls.email.errors?.email" class="text-danger">
                            メールアドレスが正しくありません
                        </p>
                    </div>
                </dd>
            </dl>
            <dl class="form-group mb-0">
                <dt class="mb-2">メールアドレス確認</dt>
                <dd>
                    <input class="form-control"
                        [class.validation]="(inputForm.controls.emailConfirm.invalid && inputForm.controls.emailConfirm.touched) || (inputForm.controls.email.touched && inputForm.controls.emailConfirm.touched && (inputForm.controls.email.value !== inputForm.controls.emailConfirm.value))"
                        type="email" formControlName="emailConfirm" placeholder="(例)cinema@cinemasunshine.co.jp">
                    <div *ngIf="inputForm.controls.emailConfirm.invalid && inputForm.controls.emailConfirm.touched">
                        <p *ngIf="inputForm.controls.emailConfirm.errors?.required" class="text-danger">
                            メールアドレス確認が未入力です
                        </p>
                        <p *ngIf="inputForm.controls.emailConfirm.errors?.maxlength" class="text-danger">
                            メールアドレス確認は{{ inputForm.controls.emailConfirm.errors?.maxlength.requiredLength }}文字以下で入力してください
                        </p>
                        <p *ngIf="inputForm.controls.emailConfirm.errors?.email" class="text-danger">
                            メールアドレス確認が正しくありません
                        </p>
                    </div>
                    <p *ngIf="inputForm.controls.email.touched && inputForm.controls.emailConfirm.touched && (inputForm.controls.email.value !== inputForm.controls.emailConfirm.value)"
                        class="text-danger">
                        メールアドレス確認が一致しません
                    </p>
                    <p class="text-small mt-2">
                        <strong>【ドメイン指定受信をご利用の場合について】</strong>
                        <br>※ 携帯電話のドメイン指定受信をされている場合、「@ticket-cinemasunshine.com」を追加設定してください。
                        <br>※ au(@ezweb.ne.jp)をご利用の場合、上記に加え「なりすまし規制回避リスト」にも「@ticket-cinemasunshine.com」の追加設定をしてください。
                    </p>
                </dd>
            </dl>
        </div>

        <h2 class="mb-2 font-weight-bold">電話番号
            <span class="bg-danger p-1 align-middle text-white text-small">入力必須</span>
        </h2>
        <div class="p-3 rounded bg-light-gray mb-4">
            <dl class="form-group mb-0">
                <dd>
                    <input class="form-control"
                        [class.validation]="inputForm.controls.telephone.invalid && inputForm.controls.telephone.touched"
                        type="tel" formControlName="telephone" autocomplete="tel" placeholder="(例)08000000000">
                    <div *ngIf="inputForm.controls.telephone.invalid && inputForm.controls.telephone.touched">
                        <p *ngIf="inputForm.controls.telephone.errors?.required" class="text-danger">電話番号が未入力です
                        </p>
                        <p *ngIf="inputForm.controls.telephone.errors?.minlength" class="text-danger">
                            電話番号は{{ inputForm.controls.telephone.errors?.minlength.requiredLength }}文字以上で入力してください
                        </p>
                        <p *ngIf="inputForm.controls.telephone.errors?.maxlength" class="text-danger">
                            電話番号は{{ inputForm.controls.telephone.errors?.maxlength.requiredLength }}文字以下で入力してください
                        </p>
                        <p *ngIf="inputForm.controls.telephone.errors?.pattern" class="text-danger">
                            電話番号は数字で入力してください
                        </p>
                        <p *ngIf="inputForm.controls.telephone.errors?.telephone" class="text-danger">
                            電話番号が正しくありません
                        </p>
                    </div>
                    <p class="text-small mt-2">※半角数字、ハイフン「-」なしで入力してください</p>
                </dd>
            </dl>
        </div>

        <div class="mb-4" *ngIf="purchase.getTotalPrice() > 0">
            <div class="d-md-flex align-items-center mb-2">
                <h2 class="font-weight-bold mb-2 mb-md-0">
                    お支払情報
                    <span class="bg-danger p-1 align-middle text-white text-small">入力必須</span>
                </h2>
                <div class="creditcard-image ml-md-3">
                    <img src="/assets/images/common/credit_card.png" alt="">
                </div>
            </div>
            

            <p class="mb-2">クレジットカード決済の必要事項を入力ください。</p>
            <div *ngIf="creditCardType === 'input'" class="credit-input mb-2">
                <ul class="p-3 rounded bg-light-gray mb-4 credit form-layout">
                    <li class="container px-0 border-bottom border-dot border-gray pb-3 mb-3">
                        <dl class="row align-items-center">
                            <dt class="col-12 col-md-4 font-weight-bold mb-2 mb-md-0">ご利用金額</dt>
                            <dd class="col-12 col-md-8">
                                <p class="text-large text-danger font-weight-bold">￥{{ purchase.getTotalPrice() }}</p>
                            </dd>
                        </dl>
                    </li>
                    <li class="container px-0 border-bottom border-dot border-gray pb-3 mb-3">
                        <dl class="form-group row align-items-center mb-0">
                            <dt class="col-12 col-md-4 font-weight-bold mb-2 mb-md-0">カード番号</dt>
                            <dd class="col-12 col-md-8">
                                <input class="form-control"
                                    [class.validation]="inputForm.controls.cardNumber.invalid && inputForm.controls.cardNumber.touched"
                                    type="text" pattern="\d*" formControlName="cardNumber" id="cardNumber"
                                    autocomplete="off" placeholder="(例)1234567890" maxlength="16">
                                <div
                                    *ngIf="inputForm.controls.cardNumber.invalid && inputForm.controls.cardNumber.touched">
                                    <p *ngIf="inputForm.controls.cardNumber.errors?.required" class="text-danger">
                                        カード番号が未入力です
                                    </p>
                                    <p *ngIf="inputForm.controls.cardNumber.errors?.pattern" class="text-danger">
                                        カード番号は数字で入力してください
                                    </p>
                                </div>
                                <p class="text-small mt-2">※半角数字、ハイフン「-」なしで入力してください</p>
                            </dd>
                        </dl>
                    </li>
                    <li class="container px-0 border-bottom border-dot border-gray pb-3 mb-3">
                        <dl class="form-group row align-items-center mb-0">
                            <dt class="col-12 col-md-4 font-weight-bold mb-2 mb-md-0">有効期限</dt>
                            <dd class="col-12 col-md-8">

                                <select class="form-control d-inline-block w-auto" formControlName="cardExpirationMonth"
                                    id="cardExpirationMonth">

                                    <option *ngFor="let month of cardExpiration.month" [value]="month">{{ month }}
                                    </option>

                                </select> 月
                                <select class="form-control d-inline-block w-auto" formControlName="cardExpirationYear" id="cardExpirationYear">

                                    <option *ngFor="let year of cardExpiration.year" [value]="year">{{ year }}</option>

                                </select> 年

                            </dd>
                        </dl>
                    </li>
                    <li class="container px-0 border-bottom border-dot border-gray pb-3 mb-3">
                        <dl class="form-group row align-items-center mb-0">
                            <dt class="col-12 col-md-4 font-weight-bold mb-2 mb-md-0">セキュリティーコード</dt>
                            <dd class="col-12 col-md-8">
                                <input class="form-control"
                                    [class.validation]="inputForm.controls.securityCode.invalid && inputForm.controls.securityCode.touched"
                                    type="text" pattern="\d*" formControlName="securityCode" autocomplete="off"
                                    placeholder="(例)123" maxlength="4">
                                <div
                                    *ngIf="inputForm.controls.securityCode.invalid && inputForm.controls.securityCode.touched">
                                    <p *ngIf="inputForm.controls.securityCode.errors?.required" class="text-danger">
                                        セキュリティーコードが未入力です
                                    </p>
                                </div>
                                <p class="mt-2">
                                    <a href="javascript:void(0)" (click)="securityCodeModal = true">セキュリティーコードについて</a>
                                </p>
                            </dd>
                        </dl>
                    </li>
                    <li class="container px-0">
                        <dl class="form-group row align-items-center mb-0">
                            <dt class="col-12 col-md-4 font-weight-bold mb-2 mb-md-0">カード名義人</dt>
                            <dd class="col-12 col-md-8">
                                <input class="form-control"
                                    [class.validation]="inputForm.controls.holderName.invalid && inputForm.controls.holderName.touched"
                                    type="text" formControlName="holderName" autocomplete="off"
                                    placeholder="(例)TARO CINEMA">
                                <div
                                    *ngIf="inputForm.controls.holderName.invalid && inputForm.controls.holderName.touched">
                                    <p *ngIf="inputForm.controls.holderName.errors?.required" class="text-danger">
                                        カード名義人が未入力です
                                    </p>
                                </div>
                            </dd>
                        </dl>
                    </li>
                </ul>

                <div *ngIf="user.isMember()" class="text-center mb-3">
                    <input type="checkbox" formControlName="saveCreditCard" id="saveCreditCard">
                    <label for="saveCreditCard">
                        <strong>クレジットカード情報を保存する</strong>
                    </label>
                </div>

                <div *ngIf="user.isRegisteredCreditCards()" class="button gray-button">
                    <button type="button" (click)="changeRegisteredCreditCard()">登録済みクレジットカードを使用する</button>
                </div>
            </div>

            <div *ngIf="creditCardType === 'registered'" class="credit-registered mb-2">
                <ul class="p-3 rounded bg-light-gray mb-4 credit form-layout">
                    <li class="container px-0">
                        <dl class="row align-items-center border-bottom border-dot border-gray pb-3 mb-3">
                            <dt class="col-12 col-md-4 font-weight-bold mb-2 mb-md-0">ご利用金額</dt>
                            <dd class="col-12 col-md-8" class="">
                                <p class="text-large text-danger font-weight-bold">￥{{ purchase.getTotalPrice() }}</p>
                            </dd>
                        </dl>
                    </li>
                    <li class="container px-0 border-bottom border-dot border-gray pb-3 mb-3">
                        <dl class="row align-items-center">
                            <dt class="col-12 col-md-4 font-weight-bold mb-2 mb-md-0">カード番号</dt>
                            <dd class="col-12 col-md-8">{{ user.data.creditCards[0]?.cardNo }}</dd>
                        </dl>
                    </li>
                    <li class="container px-0 border-bottom border-dot border-gray pb-3 mb-3">
                        <dl class="row align-items-center">
                            <dt class="col-12 col-md-4 font-weight-bold mb-2 mb-md-0">有効期限</dt>
                            <dd class="col-12 col-md-8">{{ user.data.creditCards[0]?.expire }}</dd>
                        </dl>
                    </li>
                    <li class="container px-0">
                        <dl class="row align-items-center">
                            <dt class="col-12 col-md-4 font-weight-bold mb-2 mb-md-0">カード名義人</dt>
                            <dd class="col-12 col-md-8">{{ user.data.creditCards[0]?.holderName }}</dd>
                        </dl>
                    </li>
                </ul>
                <input type="hidden" formControlName="cardNumber">
                <input type="hidden" formControlName="cardExpirationMonth">
                <input type="hidden" formControlName="cardExpirationYear">
                <input type="hidden" formControlName="securityCode">
                <input type="hidden" formControlName="holderName">
                <div class="button gray-button" (click)="changeInputCreditCard()">
                    <button type="button">クレジットカードを変更する</button>
                </div>
            </div>
            <div>
                <h3 class="mb-2 font-weight-bold">
                    ご注意事項
                </h3>
                <p class="text-small">
                    購入完了画面まで進まずにお取引を中断された場合でもご利用のカードによっては下記の事象が起こることがございますので、悪しからずご了承ください。
                    <br>
                    <strong>一部のクレジットカード会社からはカード利用速報のメールが配信される。</strong>
                    <br> ⇒カード利用速報メールが配信されましても購入完了していなければ引き落とされることはありませんので、カード会社の月々の確定利用明細などをご確認ください。
                    <br>
                    <strong>プリペイド形式（デビットカード、LINEPayカード等）で一時的に残高が減る。</strong>
                    <br> ⇒購入完了していない場合は後ほど残高が戻ります。残高が戻るまでの期間は各カード会社様によって異なります。
                    <br>※スマートフォンアプリではプリペイド形式の使用は出来ません。
                </p>
            </div>
        </div>

        <app-buttons [disabled]="isLoading" nextLabel="次へ" prevLabel="戻る" prevLink="/purchase/ticket"></app-buttons>
    </form>
    <app-site-seal></app-site-seal>
</div>

<app-loading [show]="isLoading"></app-loading>

<app-modal class="security-code-modal" [open]="securityCodeModal" [layout]="false" (close)="securityCodeModal = false">
    <div inner class="p-3 rounded bg-white">
        <p class="modal-title mb-2 text-center">セキュリティーコードについて</p>
        <p class="mb-3 text-small text-center">※カード会社により表示箇所および名称が異なります。</p>
        <div class="p-3 rounded bg-light-gray">
            <dl class="mb-3">
                <dt class="font-weight-bold mb-2">
                    VISA / MASTER / DINERS / JCBの場合
                </dt>
                <dd class="mb-2">【カード裏面】セキュリティーコード(末尾3桁)</dd>
                <dd>
                    <img class="d-block mx-auto w-100" src="/assets/images/common/credit_back.svg" alt="">
                </dd>
            </dl>
            <dl>
                <dt class="font-weight-bold mb-2">
                    AMEXの場合
                </dt>
                <dd class="mb-2">【カード表面】セキュリティーコード(4桁)</dd>
                <dd>
                    <img class="d-block mx-auto w-100" src="/assets/images/common/credit_front.svg" alt="">
                </dd>
            </dl>
        </div>
    </div>
</app-modal>

<app-modal [open]="creditCardAlertModal" [layout]="true" (close)="creditCardAlertModal = false">
    <div class="modal-title text-large text-center mb-3">
        <strong>エラーが発生しました</strong>
    </div>
    <p class="text-left text-md-center">クレジットカード情報を確認してください。</p>
</app-modal>