
.validation {
    border-color: #C30D23 !important;
    background-color: #ffe8eb !important;
}

.creditcard-image {
    img {
        width: auto;
        height: 22px;
        @media screen and (max-width: 767px) {
            width: 100%;
            max-width: 300px;
            height: auto;
        }
    }
}

.form-control {
    max-width: 500px;
}


.security-code-modal {
    img {
        max-width: 300px;
    }
}