
.parent {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: none;
    &.active {
        display: block;
    }
}
.custom-modal-cover {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    animation: fadein 0.4s both;
}

.custom-modal {
    z-index: 10;
    width: 600px;
    animation: fadein 0.4s both;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    @media screen and (max-width: 767px){
        width: 88%;
    }
    .inner {
        max-height: 70vh;
        overflow-y: auto;
        will-change: transform;
        .box {
            border-radius: 0;
        }
    }
    
    .close-button {
        position: absolute;
        top: -30px;
        right: 0px;
        a {
            display: block;
            width: 25px;
            height: 25px;
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                background-image: url(/assets/images/common/modal_close.svg);
                background-size: contain;
                width: 100%;
                height: 100%;
                margin-top: -50%;
            }
        }
    }
}


@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes fadeout {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}