<div class="contents bg-white p-3 pb-5 pt-md-4 px-md-5">
    <h1 class="text-center text-large font-weight-bold mb-3">チケット情報照会</h1>
    <p class="text-left text-md-center mb-3">
        下記にチケット購入時の予約番号と電話番号を入力して<br>
        「照会」ボタンを押してください。
    </p>
    <form [formGroup]="inquiryForm" (ngSubmit)="onSubmit()">
        <div class="p-3 rounded bg-light-gray mb-4 mx-md-5">
            <dl class="form-group mb-0">
                <dt class="mb-2 font-weight-normal">予約番号</dt>
                <dd class="mb-3">
                    <input class="form-control" type="text" pattern="\d*" formControlName="confirmationNumber"
                        id="confirmationNumber" maxlength="8" autocomplete="off" placeholder="(例)12345678"
                        [class.validation]="inquiryForm.controls.confirmationNumber.invalid && inquiryForm.controls.confirmationNumber.touched">
                    <div
                        *ngIf="inquiryForm.controls.confirmationNumber.invalid && inquiryForm.controls.confirmationNumber.touched">
                        <p *ngIf="inquiryForm.controls.confirmationNumber.errors?.required" class="text-danger">
                            予約番号が未入力です</p>
                        <p *ngIf="inquiryForm.controls.confirmationNumber.errors?.pattern" class="text-danger">
                            予約番号は数字で入力してください</p>
                    </div>
                </dd>
                <dt class="mb-2 font-weight-normal">電話番号</dt>
                <dd>
                    <input class="form-control" type="text" pattern="\d*" formControlName="telephone" id="telephone"
                        autocomplete="off" placeholder="(例)08000000000"
                        [class.validation]="inquiryForm.controls.telephone.invalid && inquiryForm.controls.telephone.touched">
                    <div *ngIf="inquiryForm.controls.telephone.invalid && inquiryForm.controls.telephone.touched"
                        class="mt-2">
                        <p *ngIf="inquiryForm.controls.telephone.errors?.required" class="text-danger">
                            電話番号が未入力です</p>
                        <p *ngIf="inquiryForm.controls.telephone.errors?.minlength" class="text-danger">
                            電話番号は9文字以上で入力してください
                        </p>
                        <p *ngIf="inquiryForm.controls.telephone.errors?.maxlength" class="text-danger">
                            電話番号は15文字以内で入力してください
                        </p>
                        <!-- <p *ngIf="inquiryForm.controls.telephone.errors?.pattern" class="text-danger">
              電話番号は数字で入力してください</p> -->
                        <p *ngIf="inquiryForm.controls.telephone.errors?.telephone" class="text-danger">
                            電話番号が正しくありません</p>
                    </div>
                </dd>
            </dl>
        </div>

        <div class="buttons mx-auto mb-5">
            <div class="mb-3">
                <button class="btn btn-block btn-primary py-3 font-weight-bold" type="submit" [disabled]="isLoading">
                    <app-icon iconName="next-white" width="15" height="15"></app-icon>照会
                </button>
            </div>
            <div class="prev-link">
                <a [href]="seller?.url">
                    <app-icon iconName="prev-black" width="15" height="15"></app-icon>劇場TOPへ戻る
                </a>
            </div>
        </div>
    </form>


    <app-site-seal></app-site-seal>
</div>

<app-modal [open]="inquiryErrorModal" [layout]="true" (close)="inquiryErrorModal = false">
    <div class="modal-title text-large text-center mb-3">
        <strong>エラーが発生しました</strong>
    </div>
    <p class="text-left text-md-center">
        予約番号、電話番号をご確認ください。
    </p>
</app-modal>

<app-loading [show]="isLoading"></app-loading>