<div class="contents">
    <form method="post">
        <h1 class="page-ttl">券種選択</h1>
        <p class="read">ご希望の券種を選択して「次へ」ボタンを押してください。</p>

        <ul class="box radius bg-light-gray mb-middle seats">

            <li>
                <dl class="d-table">
                    <dt class="d-td seat-code">Ｂ－５</dt>
                    <dd class="d-td width-medium">
                        <div class="button blue-button">
                            <a href="#" data-modal="ticketType">券種を選択してください</a>
                        </div>
                    </dd>
                </dl>
            </li>

        </ul>

        <div class="box radius bg-light-gray mb-large total">
            <div class="text-right mb-small">
                <div class="length mb-x-small">購入枚数
                    <strong class="red-text large-text">1枚</strong>
                </div>
                <div class="price">合計金額
                    <strong class="red-text large-text">
                        <span>0</span>円</strong>
                </div>
            </div>
            <div class="border-bottom-dot mb-small"></div>

            <p class="small-x-text">※メンバーズカード提示による割引やその他割引券などのご利用はできません。
                <br>※車椅子席をご希望の方は、お手数ですが通常のお席をご購入の上、対象の劇場にご連絡ください。
                <br>※ムビチケ券によっては別途追加料金が発生する場合がありますのでご了承ください。</p>
        </div>

        <div class="button-area">
            <div class="button next-button blue-button">
                <button class="icon-next-white" type="submit" routerLink="/purchase/input">次へ</button>
            </div>
            <div class="prev-link">
                <a class="icon-prev-black">戻る</a>
            </div>
        </div>
    </form>
</div>