$tablet: 1024px;
$mobile: 767px;

.validation {
    .ghost-button {
        a {
            border-color: #C30D23;
            color: #C30D23;
            background-color: #ffe8eb;
        } 
    }
}