<div class="contents bg-white p-3 pb-5 pt-md-4 px-md-5">
    <h1 class="text-center text-large font-weight-bold mb-3">購入完了</h1>
    <p class="text-left text-md-center mb-3">ご購入ありがとうございました。
        <br>購入者情報入力画面で入力していただいたメールアドレス宛に購入完了メールを送信しました。
        <br>ご入場方法に関しましてはページ下部をご確認ください。
        <br>※購入完了メールの送信に時間がかかる事がありますのでご注意ください。</p>

    <ul class="p-3 rounded bg-light-gray info mb-4 form-layout">
        <li class="container px-0 border-bottom border-dot border-gray pb-3 mb-3">
            <dl class="row align-items-center">
                <dt class="col-12 col-md-4 font-weight-bold mb-2 mb-md-0">予約番号</dt>
                <dd class="col-12 col-md-8">
                    <strong class="text-danger text-x-large">{{ getReservationNumber() }}</strong>
                    <p class="text-small">※チケットの発行等に必要な番号となりますので必ず忘れないようにしてください。</p>
                </dd>
            </dl>
        </li>
        <li class="container px-0 border-bottom border-dot border-gray pb-3 mb-3">
            <dl class="row align-items-center">
                <dt class="col-12 col-md-4 font-weight-bold mb-2 mb-md-0">劇場 / スクリーン</dt>
                <dd class="col-12 col-md-8">{{ getTheaterName() }} / {{ getScreenName() }}</dd>
            </dl>
        </li>
        <li class="container px-0 border-bottom border-dot border-gray pb-3 mb-3">
            <dl class="row align-items-center">
                <dt class="col-12 col-md-4 font-weight-bold mb-2 mb-md-0">作品名</dt>
                <dd class="col-12 col-md-8">{{ getTitle() }}</dd>
            </dl>
        </li>
        <li class="container px-0 border-bottom border-dot border-gray pb-3 mb-3">
            <dl class="row align-items-center">
                <dt class="col-12 col-md-4 font-weight-bold mb-2 mb-md-0">鑑賞日時</dt>
                <dd class="col-12 col-md-8">
                    {{ getAppreciationDate() }} {{ getStartDate() }} - {{ getEndDate() }}
                </dd>
            </dl>
        </li>
        <li class="container px-0 border-bottom border-dot border-gray pb-3 mb-3">
            <dl class="row align-items-center">
                <dt class="col-12 col-md-4 font-weight-bold mb-2 mb-md-0">座席</dt>
                <dd class="col-12 col-md-8">
                    <p *ngFor="let offer of data.order.acceptedOffers">
                        {{ offer.itemOffered.reservedTicket.coaTicketInfo.seatNum }} {{ offer.itemOffered.reservedTicket.coaTicketInfo.ticketName
                        }} ￥{{ getOrderTicketPrice(offer) }}
                    </p>
                </dd>
            </dl>
        </li>
        <li class="container px-0 border-bottom border-dot border-gray pb-3 mb-3">
            <dl class="row align-items-center">
                <dt class="col-12 col-md-4 font-weight-bold mb-2 mb-md-0">ご利用金額</dt>
                <dd class="col-12 col-md-8">￥{{ data.order.price }}</dd>
            </dl>
        </li>
        <li class="container px-0 border-bottom border-dot border-gray pb-3 mb-3">
            <dl class="row align-items-center">
                <dt class="col-12 col-md-4 font-weight-bold mb-2 mb-md-0">メールアドレス</dt>
                <dd class="col-12 col-md-8">{{ data.order.customer.email }}</dd>
            </dl>
        </li>
        <li class="container px-0 border-bottom border-dot border-gray pb-3 mb-3" *ngIf="user.isMember()">
            <dl class="row align-items-center">
                <dt class="col-12 col-md-4 font-weight-bold mb-2 mb-md-0">獲得ポイント</dt>
                <dd class="col-12 col-md-8">
                    <strong class="text-danger">{{ data.incentive }}ポイント</strong>
                </dd>
            </dl>
        </li>
    </ul>

    <div class="ticket-app-hide">
        <div class="mb-4">
            <p class="font-weight-bold">&lt;購入完了メールが届かない場合のご確認事項&gt;</p>
            <p class="mb-3 text-small">
                購入完了後、購入完了メールが届かない場合は下記2点をご確認ください。
                <br>また、購入完了メールは自動送信のため再送信は致しかねます。
                <br>購入できているかのご確認は「予約番号」をお控えのうえ
                <a class="inquiry-login-link"
                    [href]="environment.FRONTEND_ENDPOINT + '/inquiry/login?theater=' + data.seller.location?.branchCode + '&reserve=' + getReservationNumber()"
                    target="_blank">チケット照会ページ</a>よりご確認ください。
                <br>・ご入力いただいたメールアドレスに不備があった場合やメールの着信を拒否されている場合は購入完了メールが受け取れない場合があります。
                <br>・プロバイダのメール設定、携帯キャリア会社のメール設定のフィルタリング機能を有効にしている方は「削除フォルダ」または「迷惑メールフォルダ」をご確認ください。</p>
            <div class="buttons mx-auto not-print">
                <a href="javascript:void(0)" class="btn btn-block btn-success py-3 text-white" (click)="print()">印刷する</a>
            </div>
        </div>

        <div class="not-print">
            <h2 class="text-center text-large font-weight-bold mb-3">入場方法</h2>

            <ul class="entry-method mb-4">
                <li>
                    <dl class="p-3 rounded bg-light-gray">
                        <dt class="mb-3 text-center font-weight-bold">
                            QRコードでスマート入場
                        </dt>
                        <dd>
                            <p class="mb-2">
                                当日チケット発券不要！
                                <br>スマートフォンで入場用QRコードを提示するだけでスムーズに入場！
                                <br>入場用QRコードの確認は下記「チケット情報確認」ボタンを押してください。
                            </p>
                            <div class="image mb-3 bg-white">
                                <img src="/assets/images/purchase/complete/qr.svg" alt="">
                            </div>
                            <div class="buttons mx-auto mb-3">
                                <a class="btn btn-block btn-primary py-3"
                                    [href]="environment.FRONTEND_ENDPOINT + '/inquiry/login?theater=' + data.seller.location?.branchCode + '&reserve=' + getReservationNumber()"
                                    target="_blank">チケット情報確認</a>
                            </div>
                            <p>スマートフォンをお持ちでない方は当日チケット発券/入場も可能です。
                                <br>発券方法は
                                <a class="icon-new-tab-blue" href="{{ environment.FRONTEND_ENDPOINT }}/method/ticketing"
                                    target="_blank">こちら</a>
                            </p>
                        </dd>
                    </dl>
                </li>
            </ul>

            <div class="buttons mx-auto mb-5">
                <div class="prev-link">
                    <a href="{{ environment.PORTAL_SITE_URL }}">
                        <app-icon iconName="prev-black" width="15" height="15"></app-icon>戻る
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="ticket-app-show">
        <dl class="p-3 rounded bg-light-gray mb-4">
            <dt class="mb-3 text-center font-weight-bold">
                チケットホルダーでスマート入場
            </dt>
            <dd>
                <div class="mb-2 bg-white">
                    <img src="/assets/images/purchase/complete/qr.svg" alt="">
                </div>
                <p>購入したチケットはチケットホルダーに登録されます。鑑賞当日はチケットホルダー内のQRコードを提示する事で、劇場で発券を行わずにスムーズにご入場頂けます。</p>
            </dd>
        </dl>

        <div class="buttons mx-auto">
            <a class="btn btn-block btn-primary py-3" href="{{ environment.APP_SITE_URL }}/#/ticket">チケットホルダーに戻る</a>
        </div>
    </div>

</div>