
.seat-types {
    ul {
        li {
            .border-gray {
                border: 1px solid #989898;
            }
            .image {
                width: 60px;
            }
        }
        .seat-grand-class {
            img {
                width: (62px / 2);
                height: (69px / 2);
            }
        }
        .seat-premium-class {
            img {
                width: (62px / 2);
                height: (69px / 2);
            }
        }
        .seat-ottoman {
            img {
                width: (40px / 2);
                height: (72px / 2);
            }
        }
        .seat-comfort {
            img {
                width: (62px / 2);
                height: (91px / 2);
            }
        }
        .seat-parent-and-child-pair {
            img {
                width: (113px / 2);
                height: (56px / 2);
            }
        }
    }
}


