


.prev-link {
    text-align: center;
    a, button {
        font-size: 16px;
        font-weight: bold;
        color: #333;
        position: relative;
        text-decoration: underline;
        cursor: pointer;
    }
}

.seat-types {
    ul {
        li {
            .border-gray {
                border: 1px solid #989898;
            }
            .image {
                width: 60px;
            }
        }
        .seat-grand-class {
            img {
                width: (62px / 2);
                height: (69px / 2);
            }
        }
        .seat-premium-class {
            img {
                width: (62px / 2);
                height: (69px / 2);
            }
        }
        .seat-ottoman {
            img {
                width: (40px / 2);
                height: (72px / 2);
            }
        }
        .seat-comfort {
            img {
                width: (62px / 2);
                height: (91px / 2);
            }
        }
        .seat-parent-and-child-pair {
            img {
                width: (113px / 2);
                height: (56px / 2);
            }
        }
    }
}

input[type=checkbox] {
    opacity: 0;
    margin: 0;
    position: absolute;
}
label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;
    &.validation {
        border-color: transparent !important;
        background-color: transparent !important;
        &:before {
            border-color: #C30D23 !important;
            background-color: #ffe8eb !important;
        }
    }
    &:before {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -10px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        background-color: #FFF;
    }
    &:after {
        content: '';
        width: 0;
        height: 20px;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -10px;
        background-image: url(/assets/images/icon/icon_check.svg);
        background-size: 20px 20px;
        
    }
    &:last-child {
        margin-bottom: 0;
    }
}
input:checked+label {
    &:after {
        width: 20px;
        transition: width 0.1s;
    }
}
