

.validation {
    .btn.text-primary {
        border-color: #C30D23 !important;
        color: #C30D23 !important;
        background-color: #ffe8eb !important;
    } 
}

.btn-mvtk {
    border-color: #d82918 !important;
}

.border-bottom:last-child {
    border: none !important;
}

.disabled {
    display: none;
}