<div class="contents">
    <h1 class="page-ttl">購入者情報入力</h1>
    <p class="read">必須項目を入力し「次へ」ボタンを押してください。</p>

    <form id="purchaseform" method="post">


        <h2 class="section-ttl">お名前（ひらがな）
            <span class="text-icon-red small-x-text">入力必須</span>
        </h2>
        <div class="box radius bg-light-gray mb-large">
            <div class="column-02">
                <dl>
                    <dt>せい</dt>
                    <dd>
                        <input type="text" name="familyName" autocomplete="family-name" placeholder="(例)しねま" value="">

                    </dd>
                </dl>
                <dl>
                    <dt>めい</dt>
                    <dd>
                        <input type="text" name="givenName" autocomplete="given-name" placeholder="(例)たろう" value="">

                    </dd>
                </dl>
            </div>
        </div>
        <h2 class="section-ttl">メールアドレス
            <span class="text-icon-red small-x-text">入力必須</span>
        </h2>
        <div class="box radius bg-light-gray mb-large">
            <dl>
                <dd>
                    <input type="email" name="email" autocomplete="email" placeholder="(例)cinema@cinemasunshine.co.jp" value="">
                </dd>
            </dl>
            <dl>
                <dt>メールアドレス確認</dt>
                <dd>
                    <input type="email" name="emailConfirm" placeholder="(例)cinema@cinemasunshine.co.jp" value="">

                    <p class="small-x-text">
                        <strong>【ドメイン指定受信をご利用の場合について】</strong>
                        <br>※ 携帯電話のドメイン指定受信をされている場合、「@ticket-cinemasunshine.com」を追加設定してください。
                        <br>※ au(@ezweb.ne.jp)をご利用の場合、上記に加え「なりすまし規制回避リスト」にも「@ticket-cinemasunshine.com」の追加設定をしてください。</p>
                </dd>
            </dl>
        </div>

        <h2 class="section-ttl">電話番号
            <span class="text-icon-red small-x-text">入力必須</span>
        </h2>
        <div class="box radius bg-light-gray mb-large">
            <dl>
                <dd>
                    <input type="tel" name="telephone" autocomplete="tel" placeholder="(例)08000000000" value="">
                    <p class="small-x-text">※半角数字、ハイフン「-」なしで入力してください</p>
                </dd>
            </dl>
        </div>

        <h2 class="section-ttl">
            お支払情報
            <span class="text-icon-red small-x-text">入力必須</span>
            <span class="image credit-image">
                <img src="./assets/images/common/credit_card.png" alt="">
            </span>
        </h2>

        <p class="mb-small">クレジットカード決済の必要事項を入力ください。</p>
        <ul class="box radius bg-light-gray mb-large credit form-layout">
            <li class="price">
                <dl>
                    <dt>ご利用金額</dt>
                    <dd class="large-text red-text">
                        <strong>￥1,400</strong>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>カード番号</dt>
                    <dd>
                        <input type="text" pattern="\d*" name="cardno" id="cardNumber" autocomplete="off" value="" maxlength="16" placeholder="(例)1234567890">

                        <p class="small-x-text">※半角数字、ハイフン「-」なしで入力してください</p>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>有効期限</dt>
                    <dd>

                        <select name="creditMonth" id="cardExpirationMonth">

                            <option value="01">01</option>

                            <option value="02">02</option>

                            <option value="03">03</option>

                            <option value="04">04</option>

                            <option value="05">05</option>

                            <option value="06">06</option>

                            <option value="07">07</option>

                            <option value="08">08</option>

                            <option value="09">09</option>

                            <option value="10">10</option>

                            <option value="11">11</option>

                            <option value="12">12</option>

                        </select> 月
                        <select name="creditYear" id="cardExpirationYear">


                            <option value="2018">2018</option>

                            <option value="2019">2019</option>

                            <option value="2020">2020</option>

                            <option value="2021">2021</option>

                            <option value="2022">2022</option>

                            <option value="2023">2023</option>

                            <option value="2024">2024</option>

                            <option value="2025">2025</option>

                            <option value="2026">2026</option>

                            <option value="2027">2027</option>

                        </select> 年
                        <input type="hidden" name="expire" value="">

                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>セキュリティーコード</dt>
                    <dd>
                        <input type="text" pattern="\d*" name="securitycode" maxlength="4" autocomplete="off" value="" placeholder="(例)123">

                        <p>
                            <a href="#" data-modal="securitycode">セキュリティーコードについて</a>
                        </p>
                    </dd>
                </dl>
            </li>
            <li>
                <dl>
                    <dt>カード名義人</dt>
                    <dd>
                        <input type="text" name="holdername" autocomplete="off" value="" placeholder="(例)TARO CINEMA">

                    </dd>
                </dl>
            </li>
        </ul>
        
        <div class="button-area clearfix">
            <div class="button next-button blue-button">
                <button class="icon-next-white" type="submit">次へ</button>
            </div>
            <div class="prev-link">
                <a class="icon-prev-black" href="/purchase/ticket/">戻る</a>
            </div>
        </div>
    </form>
</div>