<div class="contents">
    <h1 class="page-ttl">座席選択</h1>
    <p class="read">ご希望の座席を選択して「次へ」ボタンを押してください。
        <br>選択できる座席数は最大
        <span class="seat-limit-text">4</span>席までとなります。
        <br>
        <span class="sp-text">画面をタッチすると画面がズームしますので座席を選択してください。
            <br>
        </span>
        <span class="small-x-text">※車椅子席をご希望の方は、お手数ですが通常のお席をご購入の上、対象の劇場にご連絡ください。</span>
    </p>

    <app-screen></app-screen>

    <div class="film-info radius mb-large">
        <p class="mb-small">現在、選択されているチケットは下記のとおりです。</p>
        <dl>
            <dt>劇場 / スクリーン</dt>
            <dd class="border-bottom-dot">
                シネマサンシャイン１１８ / ４ＤＸ
            </dd>
            <dt>鑑賞日時</dt>
            <dd class="border-bottom-dot">
                2018年01月10日(水) 12:10 - 13:56
            </dd>
            <dt>作品名</dt>
            <dd>４ＤＸ３Ｄ作品</dd>
        </dl>
    </div>

    <h2 class="section-ttl">利用規約</h2>
    <p class="mb-small">利用規約に同意した上で「次へ」ボタンを押してください。</p>
    
    <form method="post">
        <div class="mb-x-large text-center">
            <input type="checkbox" name="agree" value="true" id="agree">
            <label for="agree" class="agree-label">
                <strong>利用規約に同意する</strong>
            </label>
        </div>

        <app-buttons nextLabel="次へ" prevLabel="戻る" prevLink="/purchase/schedule"></app-buttons>
    </form>
</div>