.border-bottom:last-child {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    border: none !important;
}

.form-control {
    width: auto;
    @media screen and (max-width: 767px){
        width: 100%;
    }
}
