<div class="contents bg-white p-3 pb-5 pt-md-4 px-md-5">
    <h1 class="text-center text-large font-weight-bold mb-3">ポイント使用</h1>
    <p class="text-left text-md-center">
        貯まったポイントの使用方法を選択してください。
    </p>
    <div class="mb-3 point text-center">
        <div class="inner bg-gray">現在
            <strong class="text-large">{{ availableBalance }}</strong> ポイント</div>
    </div>

    <ul *ngIf="!isLoading" class="p-3 rounded bg-light-gray mb-3 tickets">
        <li *ngFor="let pointTicket of pointTickets">
            <dl>
                <dt>
                    <div class="text-small mb-x-small">{{ pointTicket.usePoint }}ポイントで引き換え</div>
                    <div>
                        <strong>{{ pointTicket.ticketName }}</strong>
                    </div>
                </dt>
                <dd>
                    <select [(ngModel)]="selectTickets[pointTicket.ticketCode]">
                        <option *ngFor="let value of ticketValueList" value="{{ value }}">{{ value }}枚</option>
                    </select>
                </dd>
            </dl>
        </li>
    </ul>

    <form (ngSubmit)="onSubmit()">
        <app-buttons nextLabel="券種に追加する" prevLabel="戻る" prevLink="/purchase/ticket"></app-buttons>
    </form>
    <app-site-seal></app-site-seal>
</div>

<app-modal [open]="pointAhortageAlertModal" [layout]="true" (close)="pointAhortageAlertModal = false">
    <div class="modal-title text-large text-center mb-3">
        <strong>ポイントが不足しています</strong>
    </div>
    <p class="text-left text-md-center">選択した券種の合計ポイントが所持ポイントを超えています。
    </p>
</app-modal>

<app-modal [open]="notSelectAlertModal" [layout]="true" (close)="notSelectAlertModal = false">
    <div class="modal-title text-large text-center mb-3">
        <strong>券種が選択されていません</strong>
    </div>
    <p class="text-left text-md-center">券種を選択してください。
    </p>
</app-modal>

<app-loading [show]="isLoading"></app-loading>