<div class="contents bg-white p-3 pb-5 pt-md-4 px-md-5">
    <h1 class="text-center text-large font-weight-bold mb-3">ポイント使用</h1>
    <p class="text-left text-md-center mb-3">
        貯まったポイントの使用方法を選択してください。
    </p>
    <div class="mb-3 point text-center">
        <p class="bg-dark-gray text-white d-inline-block py-2 px-3">
            現在<span class="text-large font-weight-bold">{{ availableBalance }}</span>ポイント
        </p>
    </div>

    <ul *ngIf="!isLoading" class="p-3 rounded bg-light-gray mb-4 tickets">
        <li class="container px-0 border-bottom border-dot border-gray pb-3 mb-3" *ngFor="let pointTicket of pointTickets">
            <dl class="row align-items-center">
                <dt class="col-12 col-md-4 mb-2 mb-md-0">
                    <p class="text-small mb-1 font-weight-normal">{{ pointTicket.usePoint }}ポイントで引き換え</p>
                    <p class="font-weight-bold">{{ pointTicket.ticketName }}</p>
                </dt>
                <dd class="col-12 col-md-8 text-right">
                    <select class="form-control d-block d-md-inline-block" [(ngModel)]="selectTickets[pointTicket.ticketCode]">
                        <option *ngFor="let value of ticketValueList" value="{{ value }}">{{ value }}枚</option>
                    </select>
                </dd>
            </dl>
        </li>
    </ul>

    <form (ngSubmit)="onSubmit()">
        <app-buttons nextLabel="券種に追加する" prevLabel="戻る" prevLink="/purchase/ticket"></app-buttons>
    </form>
    <app-site-seal></app-site-seal>
</div>

<app-modal [open]="pointAhortageAlertModal" [layout]="true" (close)="pointAhortageAlertModal = false">
    <div class="modal-title text-large text-center mb-3">
        <strong>ポイントが不足しています</strong>
    </div>
    <p class="text-left text-md-center">選択した券種の合計ポイントが所持ポイントを超えています。
    </p>
</app-modal>

<app-modal [open]="notSelectAlertModal" [layout]="true" (close)="notSelectAlertModal = false">
    <div class="modal-title text-large text-center mb-3">
        <strong>券種が選択されていません</strong>
    </div>
    <p class="text-left text-md-center">券種を選択してください。
    </p>
</app-modal>

<app-loading [show]="isLoading"></app-loading>