<div class="contents">

    <h1 class="page-ttl">スケジュール選択</h1>
    <p class="read">こちらからチケットの購入をする事が出来ます。
        <br>ご希望の鑑賞作品、鑑賞日時を選択してください。</p>
    <div class="mb-middle button blue-button center-button inquiry-button">
        <a routerLink="/inquiry/login/118">シネマサンシャイン１１８照会</a>
    </div>

    <div class="mb-middle button blue-button center-button inquiry-button">
        <a routerLink="/inquiry/login/112" target="_blank">シネマサンシャイン北島テスト照会</a>
    </div>

    <div class="mb-middle button blue-button center-button inquiry-button">
        <a routerLink="/inquiry/login/101" target="_blank">シネマサンシャイン池袋テスト照会</a>
    </div>

    <div class="mb-middle">
        <dl>
            <dt class="mb-x-small">劇場</dt>
            <dd class="mb-small">
                <select>
                    <option value="118">シネマサンシャイン１１８</option>
                    <option value="112">シネマサンシャイン北島テスト</option>
                    <option value="101">シネマサンシャイン池袋テスト</option>
                </select>
            </dd>
        </dl>
        <dl>
            <dt class="mb-x-small">鑑賞日</dt>
            <dd class="mb-small">
                <select>
                    <option value="20180110">本日</option>
                    <option value="20180111">明日</option>
                    <option value="20180112">明後日</option>
                </select>
            </dd>
        </dl>
    </div>

    <ul class="film-order">
        <li class="performance mb-x-small">
            <dl>
                <dt>
                    <div class="mb-x-small">
                        <strong>通常作品テスト</strong>
                    </div>
                    <div class="small-text">100分</div>
                </dt>
                <dd>
                    <ul>
                        <li class="button white-button" routerLink="/purchase/seat/12345678">
                            <dl>
                                <dt>
                                    <div class="text-left">
                                        <div class="large-text mb-x-small">
                                            <strong>20:25</strong>
                                        </div>
                                        <div>～22:11</div>
                                    </div>
                                    <div class="text-center small-x-text status">
                                        <div class="mb-x-small text">空席あり</div>
                                        <div class="image"></div>
                                    </div>
                                </dt>
                                <dd class="small-text text-center">
                                    <div class="screen-name">シアター１</div>
                                </dd>
                            </dl>
                        </li>
                        <li class="button white-button" routerLink="/purchase/seat/12345678">
                            <dl>
                                <dt>
                                    <div class="text-left">
                                        <div class="large-text mb-x-small">
                                            <strong>20:25</strong>
                                        </div>
                                        <div>～22:11</div>
                                    </div>
                                    <div class="text-center small-x-text status">
                                        <div class="mb-x-small text">空席あり</div>
                                        <div class="image"></div>
                                    </div>
                                </dt>
                                <dd class="small-text text-center">
                                    <div class="screen-name">シアター１</div>
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </dd>
            </dl>
        </li>
    </ul>

</div>