<div class="contents bg-white p-3 pb-5 pt-md-4 px-md-5">
    <h1 class="text-center text-large font-weight-bold mb-3">エラーが発生しました</h1>
    <p class="text-left text-md-center mb-3">お手続きの途中でエラーが発生いたしました。
        <br>お手数をおかけいたしますが、もう一度最初から操作をお願いいたします。</p>
    <div class="buttons mx-auto">
        <div class="prev-link ticket-app-hide">
            <a href="{{ environment.PORTAL_SITE_URL }}">
                <app-icon iconName="prev-black" width="15" height="15"></app-icon>戻る</a>
        </div>
        <div class="prev-link ticket-app-show">
            <a href="{{ environment.APP_SITE_URL }}/#/purchase">
                <app-icon iconName="prev-black" width="15" height="15"></app-icon>戻る</a>
        </div>
    </div>
    <code *ngIf="message && !environment.production">{{ message }}</code>
</div>